@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  padding: 34px;
  position: relative;
}
nav {
  margin-bottom: 20px;
  position: relative;
}
#titulos {
  display: flex;
  gap: 10px;
  position: absolute;
}
#titulos #resultados {
  position: relative;
  width: 270px;
  height: 120px;
  padding: 19px 22px 7px;
  border-radius: 12px;
  background-color: #00158c;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
#titulos #resultados #title {
  font-size: 19px;
  font-weight: 900;
}
#titulos #resultados #line {
  width: 100%;
  height: 1.1px;
  background-color: white;
  margin-top: 18px;
  margin-bottom: 10px;
}
#titulos #resultados #mes {
  font-size: 31px;
  font-weight: 800;
  letter-spacing: 6%;
  text-transform: uppercase;
}
#titulos .titulo {
  height: 54px;
  background-color: #00158c;
  color: white;
  text-align: center;
  border-radius: 13px;
  font-size: 19px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}
#titulos .titulo#lideranca {
  width: 470px;
}
#titulos .titulo#tino {
  width: 327px;
}
#titulos .titulo#extra {
  width: 160px;
  background-color: #D29D35;
}

table {
  border-spacing: 10px;
  table-layout: fixed;
  margin-left: -10px;
  margin-top: 76px;
}

tr > th {
  background-color: #bec4e6;
  color: #00158c;
  font-weight: 600;
}
th.lideranca {
  width: 110px;
}
th.tino {
  width: 160px;
}
th.extra {
  width: 160px;
  background-color: #E6D1BE;
  color: #C18713;
}

.aluno {
  font-weight: 600;
  width: 272px;
  text-align: left;
  padding-left: 11px;
  background-color: #bec4e6;
  color: #00158c;
}

td,
th {
  background-color: #e5e7f3;
  height: 54px;
  border-radius: 8px;
  text-align: center;
}

td input:not(.checkzin) {
  width: 100%;
  height: 100%;
}
input {
  font-size: 18px;
  background-color: none;
  border: none;
  border-radius: 8px;
  outline: none;
  height: 100%;
  text-align: center;
  cursor: pointer;
  background-color: #e5e7f3;
}

.checkzin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #bec4e6;

  transition: 200ms;
}

.checkzin::before {
  content: "✔";
  color: white;

  transform: scale(0);
  transition: 200ms;
}
.checkzin:checked {
  background-color: #00158c;
}
.checkzin:checked::before {
  transform: scale(1);
}
.checkzin.extra {
  background-color: #E6D1BE;
}
.checkzin.extra:checked {
  background-color: #D29D35;
}

td.df {
  width: 114px;
}

i {
  font-size: 36px;
  font-weight: 900;
}

#btn-save {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-right: 56px;
}
#save {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: #00158c;
  font-size: 18px;
  color: white;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
nav > a {
  display: block;
  width: fit-content;
}
#btn-save button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}